@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.order-details-info {
    background-color: white;
    display: flex;
    max-width: 20rem;
    color: $Graphite;
    border-radius: 0.25rem;
    position: relative;
    padding-bottom: 3.0rem;
    margin-bottom: 1rem;
    @include BoxShadow;

    @include Tablet {
        max-width: 35rem;
    }

    @include Desktop {
        max-width: 40rem;
    }

    &-section {
        display: flex;
        flex-direction: column;
        font-family: 'Titillium Web', open-sans, sans-serif;
        padding: 0.5rem;
        width: 50%;

        &:first-child {
            margin: 0.5rem 0;
            border-right: 1px solid $Cloud;
        }

        &:nth-child(2) {
            margin: 0.5rem 0;
        }
        
        &__title {
            font-size: 1.1rem;
            text-transform: capitalize;
            margin-bottom: 1.5rem;
            font-family: inherit;

            @include Tablet {
                font-size: 1.5rem;
            }
        }

        &-container {
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;
            justify-content: space-between;
            margin-top: 2rem;

            @include Tablet {
                flex-direction: row;
            }
        }

        &__description {
            font-size: 0.86rem;
           white-space: pre-wrap;
           line-height: 1.75rem;
           
           @include Tablet {
            font-size: 1rem;
           }
           
        }
    }

    &-buttons {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        background-color: $LightGray;
        padding: 0.5rem;
        width: 100%;
        column-gap: 0.5rem;

        @include Desktop {
            justify-content: flex-end;

        }
    }
}