$Header: hsl(216, 64%, 13%);;
$GreenishBlue: hsl(187, 52%, 44%);
$Gray: hsl(0, 0%, 50%);
$LightGray: hsl(220, 16%, 96%);
$Light: hsl(0, 0%, 90%);
$Indigo: #2E66E5;
$DarkIndigo: hsl(228, 29%, 19%);
$Graphite: hsl(228, 29%, 19%);
$Cloud: #BDC5D5;
$Orange: hsl(16, 81%, 44%);