@font-face {
    font-family: open-sans;
    src: url("../../assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
}