@use '../../styles/partials/colors' as *;

.edit-user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    filter: drop-shadow(0.2rem 0.2rem 0.5rem $Cloud);
    min-height: 80vh;
}