@use '../../styles/partials/colors' as *;

.shopping-cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 0.4rem;

    &__cart {
        color: $Gray;

        &-quantity {
            position: absolute;
            bottom: 0;
            right: -0.3rem;
            width: 0.9rem;
            height: 0.9rem;
            background-color: red;
            border-radius: 50%;
            font-size: 0.75rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}